[
    {rabbit, [ {collect_statistics_interval, 5000} ] },
    {rabbitmq_management_agent, [ {force_fine_statistics, true} ] },
    {sasl, [
	{sasl_error_logger, {file, "log/sasl-error.log"}},
	{errlog_type, error},
	{error_logger_mf_dir, "log/sasl"},
	{error_logger_mf_maxbytes, 10485760},
	{error_logger_mf_maxfiles, 5}
    ]},
    {snmp, [
	{agent, [
	    {priority, normal},
	    {versions, [v3]},
	    {db_dir, "plugins/snmp_rabbit/priv/snmp/agent/db"},
	    {config, [{dir, "plugins/snmp_rabbit/priv/snmp/agent"}]},
	    {mibs, [
		"plugins/snmp_rabbit/priv/mibs/SYNRC-REG",
		"plugins/snmp_rabbit/priv/mibs/MEM-MIB"
	    ]},
	    {agent_type, master},
	    {net_if, [{module,snmpa_net_if},{verbosity,silence},{options,[{bind_to,false},{no_reuse,false},{req_limit,infinity}]}]}
	]}
    ]}
].